--
-- PostgreSQL database dump
--

-- Dumped from database version 17.1
-- Dumped by pg_dump version 17.1

SET statement_timeout = 0;
SET lock_timeout = 0;
SET idle_in_transaction_session_timeout = 0;
SET transaction_timeout = 0;
SET client_encoding = 'UTF8';
SET standard_conforming_strings = on;
SELECT pg_catalog.set_config('search_path', '', false);
SET check_function_bodies = false;
SET xmloption = content;
SET client_min_messages = warning;
SET row_security = off;

--
-- Name: gender_type; Type: TYPE; Schema: public; Owner: postgres
--

CREATE TYPE public.gender_type AS ENUM (
    'Male',
    'Female'
);


ALTER TYPE public.gender_type OWNER TO postgres;

--
-- Name: residency_type; Type: TYPE; Schema: public; Owner: postgres
--

CREATE TYPE public.residency_type AS ENUM (
    'Hosteller',
    'Dayscholar'
);


ALTER TYPE public.residency_type OWNER TO postgres;

SET default_tablespace = '';

SET default_table_access_method = heap;

--
-- Name: Admin; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public."Admin" (
    adm_id character varying(10) NOT NULL,
    name character varying(50) NOT NULL,
    password text NOT NULL,
    email character varying(100) NOT NULL,
    otp character varying(6)
);


ALTER TABLE public."Admin" OWNER TO postgres;

--
-- Name: Allotment; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public."Allotment" (
    reg_id character varying(10) NOT NULL,
    student_id character varying(10) NOT NULL,
    club_id character varying(10) NOT NULL,
    alloted_at timestamp without time zone DEFAULT CURRENT_TIMESTAMP NOT NULL,
    status character varying(20) DEFAULT 'Inactive'::character varying NOT NULL,
    type character varying(20) DEFAULT 'Primary'::character varying NOT NULL,
    allotment_id bigint NOT NULL,
    CONSTRAINT "Allotment_status_check" CHECK (((status)::text = ANY ((ARRAY['Active'::character varying, 'Inactive'::character varying])::text[]))),
    CONSTRAINT "Allotment_type_check" CHECK (((type)::text = ANY ((ARRAY['Primary'::character varying, 'Associate'::character varying])::text[])))
);


ALTER TABLE public."Allotment" OWNER TO postgres;

--
-- Name: Allotment_new_allotment_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

CREATE SEQUENCE public."Allotment_new_allotment_id_seq"
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public."Allotment_new_allotment_id_seq" OWNER TO postgres;

--
-- Name: Allotment_new_allotment_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: postgres
--

ALTER SEQUENCE public."Allotment_new_allotment_id_seq" OWNED BY public."Allotment".allotment_id;


--
-- Name: Attendance; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public."Attendance" (
    student_id character varying(10) NOT NULL,
    attendance character varying(20) DEFAULT 'Absent'::character varying NOT NULL,
    att_id bigint NOT NULL,
    event_id bigint,
    CONSTRAINT "Attendance_attendance_check" CHECK (((attendance)::text = ANY ((ARRAY['Present'::character varying, 'Absent'::character varying])::text[])))
);


ALTER TABLE public."Attendance" OWNER TO postgres;

--
-- Name: Attendance_new_att_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

CREATE SEQUENCE public."Attendance_new_att_id_seq"
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public."Attendance_new_att_id_seq" OWNER TO postgres;

--
-- Name: Attendance_new_att_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: postgres
--

ALTER SEQUENCE public."Attendance_new_att_id_seq" OWNED BY public."Attendance".att_id;


--
-- Name: Clubs; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public."Clubs" (
    club_id character varying(10) NOT NULL,
    club_name character varying(150) NOT NULL,
    description text,
    max_vacancy integer NOT NULL,
    min_allotment integer NOT NULL,
    faculty_advisor character varying(10) NOT NULL,
    poc character varying(50),
    poc_phone bigint,
    curr_allotment integer DEFAULT 0 NOT NULL,
    CONSTRAINT "Clubs_max_vacancy_check" CHECK ((max_vacancy > 0)),
    CONSTRAINT "Clubs_min_allotment_check" CHECK ((min_allotment >= 0)),
    CONSTRAINT clubs_currallotment CHECK (((curr_allotment >= min_allotment) AND (curr_allotment <= max_vacancy)))
);


ALTER TABLE public."Clubs" OWNER TO postgres;

--
-- Name: Events; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public."Events" (
    club character varying(10) NOT NULL,
    start_datetime timestamp without time zone NOT NULL,
    end_datetime timestamp without time zone NOT NULL,
    event_desc character varying(150),
    event_name character varying(150),
    event_id bigint NOT NULL,
    CONSTRAINT events_time CHECK ((end_datetime > start_datetime))
);


ALTER TABLE public."Events" OWNER TO postgres;

--
-- Name: Events_new_event_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

CREATE SEQUENCE public."Events_new_event_id_seq"
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public."Events_new_event_id_seq" OWNER TO postgres;

--
-- Name: Events_new_event_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: postgres
--

ALTER SEQUENCE public."Events_new_event_id_seq" OWNED BY public."Events".event_id;


--
-- Name: RegistrationStatus; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public."RegistrationStatus" (
    id integer NOT NULL,
    is_open boolean DEFAULT false NOT NULL,
    passout_year integer,
    updated_at timestamp without time zone DEFAULT CURRENT_TIMESTAMP
);


ALTER TABLE public."RegistrationStatus" OWNER TO postgres;

--
-- Name: RegistrationStatus_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

CREATE SEQUENCE public."RegistrationStatus_id_seq"
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public."RegistrationStatus_id_seq" OWNER TO postgres;

--
-- Name: RegistrationStatus_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: postgres
--

ALTER SEQUENCE public."RegistrationStatus_id_seq" OWNED BY public."RegistrationStatus".id;


--
-- Name: Registrations; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public."Registrations" (
    reg_id character varying(10) NOT NULL,
    student_id character varying(10) NOT NULL,
    club_id character varying(10) NOT NULL,
    reg_at timestamp without time zone DEFAULT CURRENT_TIMESTAMP NOT NULL,
    deadline timestamp without time zone NOT NULL,
    pref_value integer NOT NULL,
    CONSTRAINT "Registrations_pref_value_check" CHECK (((pref_value >= 1) AND (pref_value <= 10)))
);


ALTER TABLE public."Registrations" OWNER TO postgres;

--
-- Name: Users; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public."Users" (
    user_id character varying(10) NOT NULL,
    name character varying(50) NOT NULL,
    email character varying(100) NOT NULL,
    password text NOT NULL,
    dept character varying NOT NULL,
    class character varying,
    otp character varying(6),
    role character varying(20) DEFAULT 'student'::character varying NOT NULL,
    year_of_joining integer,
    can_select_clubs boolean DEFAULT true,
    gender public.gender_type,
    residency_status public.residency_type,
    CONSTRAINT users_nullcheck CHECK ((((class IS NOT NULL) AND (dept IS NOT NULL)) OR ((class IS NULL) AND (dept IS NOT NULL))))
);


ALTER TABLE public."Users" OWNER TO postgres;

--
-- Name: Allotment allotment_id; Type: DEFAULT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public."Allotment" ALTER COLUMN allotment_id SET DEFAULT nextval('public."Allotment_new_allotment_id_seq"'::regclass);


--
-- Name: Attendance att_id; Type: DEFAULT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public."Attendance" ALTER COLUMN att_id SET DEFAULT nextval('public."Attendance_new_att_id_seq"'::regclass);


--
-- Name: Events event_id; Type: DEFAULT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public."Events" ALTER COLUMN event_id SET DEFAULT nextval('public."Events_new_event_id_seq"'::regclass);


--
-- Name: RegistrationStatus id; Type: DEFAULT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public."RegistrationStatus" ALTER COLUMN id SET DEFAULT nextval('public."RegistrationStatus_id_seq"'::regclass);


--
-- Data for Name: Admin; Type: TABLE DATA; Schema: public; Owner: postgres
--



--
-- Data for Name: Allotment; Type: TABLE DATA; Schema: public; Owner: postgres
--



--
-- Data for Name: Attendance; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public."Attendance" (student_id, attendance, att_id, event_id) FROM stdin;
23TC02	Present	1	26
23PW02	Present	2	27
23ME01	Present	3	27
23PW01	Present	4	27
23TC01	Absent	5	27
23TC02	Absent	6	27
23PW01	Present	7	28
23PW02	Present	8	28
23ME01	Absent	9	28
23TC02	Present	10	28
23TC01	Absent	11	28
23DS01	Present	12	9
23pw300	Absent	13	9
23pw300	Present	14	21
23DS01	Absent	15	21
23PW03	Absent	17	1
23ME01	Present	18	1
23DS03	Present	16	1
\.


--
-- Data for Name: Clubs; Type: TABLE DATA; Schema: public; Owner: postgres
--



--
-- Data for Name: Events; Type: TABLE DATA; Schema: public; Owner: postgres
--



--
-- Data for Name: RegistrationStatus; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public."RegistrationStatus" (id, is_open, passout_year, updated_at) FROM stdin;
1	f	\N	2025-05-19 17:54:34.037979
\.


--
-- Data for Name: Registrations; Type: TABLE DATA; Schema: public; Owner: postgres
--



--
-- Data for Name: Users; Type: TABLE DATA; Schema: public; Owner: postgres
--



--
-- Name: Allotment_new_allotment_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public."Allotment_new_allotment_id_seq"', 47, true);


--
-- Name: Attendance_new_att_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public."Attendance_new_att_id_seq"', 21, true);


--
-- Name: Events_new_event_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public."Events_new_event_id_seq"', 28, true);


--
-- Name: RegistrationStatus_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public."RegistrationStatus_id_seq"', 1, false);


--
-- Name: Admin Admin_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public."Admin"
    ADD CONSTRAINT "Admin_pkey" PRIMARY KEY (adm_id);


--
-- Name: Allotment Allotment_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public."Allotment"
    ADD CONSTRAINT "Allotment_pkey" PRIMARY KEY (allotment_id);


--
-- Name: Attendance Attendance_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public."Attendance"
    ADD CONSTRAINT "Attendance_pkey" PRIMARY KEY (att_id);


--
-- Name: Clubs Clubs_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public."Clubs"
    ADD CONSTRAINT "Clubs_pkey" PRIMARY KEY (club_id);


--
-- Name: Events Events_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public."Events"
    ADD CONSTRAINT "Events_pkey" PRIMARY KEY (event_id);


--
-- Name: RegistrationStatus RegistrationStatus_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public."RegistrationStatus"
    ADD CONSTRAINT "RegistrationStatus_pkey" PRIMARY KEY (id);


--
-- Name: Registrations Registrations_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public."Registrations"
    ADD CONSTRAINT "Registrations_pkey" PRIMARY KEY (reg_id);


--
-- Name: Users Users_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public."Users"
    ADD CONSTRAINT "Users_pkey" PRIMARY KEY (user_id);


--
-- Name: Attendance unique_event_student; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public."Attendance"
    ADD CONSTRAINT unique_event_student UNIQUE (event_id, student_id);


--
-- Name: Allotment Allotment_club_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public."Allotment"
    ADD CONSTRAINT "Allotment_club_id_fkey" FOREIGN KEY (club_id) REFERENCES public."Clubs"(club_id);


--
-- Name: Allotment Allotment_reg_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public."Allotment"
    ADD CONSTRAINT "Allotment_reg_id_fkey" FOREIGN KEY (reg_id) REFERENCES public."Registrations"(reg_id);


--
-- Name: Allotment Allotment_student_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public."Allotment"
    ADD CONSTRAINT "Allotment_student_id_fkey" FOREIGN KEY (student_id) REFERENCES public."Users"(user_id);


--
-- Name: Attendance Attendance_event_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public."Attendance"
    ADD CONSTRAINT "Attendance_event_id_fkey" FOREIGN KEY (event_id) REFERENCES public."Events"(event_id);


--
-- Name: Attendance Attendance_student_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public."Attendance"
    ADD CONSTRAINT "Attendance_student_id_fkey" FOREIGN KEY (student_id) REFERENCES public."Users"(user_id);


--
-- Name: Events Events_club_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public."Events"
    ADD CONSTRAINT "Events_club_fkey" FOREIGN KEY (club) REFERENCES public."Clubs"(club_id);


--
-- Name: Registrations Registrations_club_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public."Registrations"
    ADD CONSTRAINT "Registrations_club_id_fkey" FOREIGN KEY (club_id) REFERENCES public."Clubs"(club_id);


--
-- Name: Registrations Registrations_student_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public."Registrations"
    ADD CONSTRAINT "Registrations_student_id_fkey" FOREIGN KEY (student_id) REFERENCES public."Users"(user_id);


--
-- PostgreSQL database dump complete
--

